{
    "env": {
      "es6": true,
      "browser": true,
      "node": true,
      "jest": true
    },
    "globals": {
        "CONFIG": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        },
        "allowImportExportEverywhere": true
    },
    "rules": {
        "semi": [2, "always"],
        "react/jsx-one-expression-per-line": 0,
        "operator-linebreak": 0,
        "react/jsx-wrap-multilines": 0,
        "react/no-access-state-in-setstate": 0,
        "react/destructuring-assignment": 0,
        "no-undef": "error",
        "no-unused-vars": ["error", { "vars": "all", "args": "after-used" }],
        "react/jsx-no-undef": "error",
        "react/jsx-uses-vars": "error",
        "react/jsx-uses-react": "error",
        "indent": 0,
        "max-len": 0,
        "react/prefer-stateless-function": 0,
        "jsx-a11y/media-has-caption": 0,
        "react/jsx-indent": [2, 4],
        "jsx-a11y/img-has-alt": 0,
        "one-var": 0,
        "react/no-did-mount-set-state": 0,
        "react/sort-comp": 0,
        "no-plusplus": 0,
        "prefer-template": 0,
        "jsx-a11y/no-static-element-interactions": 0,
        "react/jsx-no-bind": 0,
        "react/jsx-indent-props": 0,
        "react/forbid-prop-types": 0,
        "react/no-string-refs": 0,
        "import/no-extraneous-dependencies": 0,
        "import/no-unresolved": 0,
        "class-methods-use-this": 0,
        "no-underscore-dangle": 0,
        "react/no-danger": 0,
        "jsx-a11y/click-events-have-key-events": 0,
        "react/no-array-index-key": 0,
        "no-confusing-arrow": 0,
        "jsx-a11y/no-noninteractive-element-interactions": 0,
        "react/no-unescaped-entities": 0,
        "no-useless-escape": 0,
        "import/prefer-default-export": 0,
        "jsx-a11y/tabindex-no-positive": 0
    },
    "plugins": [
        "react"
    ],
    "extends": "airbnb",
    "settings": {
        "import/resolver": "webpack"
    }
}
